.guf{
	max-width: 100%;
}
.cot_1{
}
.cot_1 img{
	max-width: 100%;
	padding: 0px 0px 0px 20px;
}
.cot_1 li{
	list-style: none;
	padding: 0px 0px 0px 20px;
}
.conteiner{
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0px auto;
}
.header{

}


